<div ng-cloak class="main">

  <div layout="column" ng-cloak>
    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                  md-component-id="left"
                  md-is-locked-open="$mdMedia('gt-md')"
                  style="width:200px;min-width:200px;">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Tools</h1>
        </md-toolbar>
        <md-content layout-padding>

          <svg-artist-tools settings="ctrl.settings" svg-instance="ctrl.svgArtistDemo"></svg-artist-tools>

        </md-content>
      </md-sidenav>
      <md-content flex layout-padding>
        <div layout="column svg-container" layout-fill layout-align="top center"
             ng-class="{'use-cross-hairs': ctrl.svgArtistDemo.createLineActive, 'use-grab': ctrl.svgArtistDemo.selectItemActive, 'use-text': ctrl.svgArtistDemo.createTextActive}">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
               class="svg-artist-demo"
               style="width:100%;height:900px;border: 1px solid black;">
          </svg>
        </div>
        <div flex></div>
      </md-content>
      <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">Layers</h1>
        </md-toolbar>
        <md-content layout-padding>
          <form>
            <md-input-container>

              <svg-artist-layer-panel></svg-artist-layer-panel>

            </md-input-container>
          </form>
        </md-content>
      </md-sidenav>
    </section>
  </div>

</div>
