
.main .use-grab {
  cursor: grab;
}

.main .use-pointer {
  cursor: pointer;
}

.main .use-cross-hairs {
  cursor: crosshair;
}


.main .use-text {
  cursor: text;
}

.main .svg-container {
  /*border: 1px solid black;*/
}
